<div class="slds">
  <div class="slds-grid slds-wrap slds-p-horizontal--small">
    <nav class="slds-col slds-size--1-of-1">
      <div class="slds-tabs--default">
        <!-- Tab Menu -->
        <ul class="slds-tabs--default__nav" role="tablist">
          <li class="slds-tabs__item slds-text-heading--label slds-active" title="Item One" role="presentation" id="tab-all">
            <a href="#" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-all" onclick="IndexJs.clickTabAll();">All</a>
          </li>
          <li class="slds-tabs__item slds-text-heading--label" title="Item Three" role="presentation" id="tab-sun">
            <a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-sun" onclick="IndexJs.clickTabSun();">Sun</a>
          </li>
          <li class="slds-tabs__item slds-text-heading--label" title="Item Two" role="presentation" id="tab-mon">
            <a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-mon" onclick="IndexJs.clickTabMon();">Mon</a>
          </li>
          <li class="slds-tabs__item slds-text-heading--label" title="Item Three" role="presentation" id="tab-tue">
            <a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-tue" onclick="IndexJs.clickTabTue();">Tue</a>
          </li>
          <li class="slds-tabs__item slds-text-heading--label" title="Item Three" role="presentation" id="tab-wed">
            <a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-wed" onclick="IndexJs.clickTabWed();">Wed</a>
          </li>
          <li class="slds-tabs__item slds-text-heading--label" title="Item Three" role="presentation" id="tab-thu">
            <a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-thu" onclick="IndexJs.clickTabThu();">Thu</a>
          </li>
          <li class="slds-tabs__item slds-text-heading--label" title="Item Three" role="presentation" id="tab-fri">
            <a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-fri" onclick="IndexJs.clickTabFri();">Fri</a>
          </li>
          <li class="slds-tabs__item slds-text-heading--label" title="Item Three" role="presentation" id="tab-sat">
            <a href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-sat" onclick="IndexJs.clickTabSat();">Sat</a>
          </li>
        </ul>
        <!-- Content -->
        <div class="slds-tabs__content slds-show" role="tabpanel" id="content-all">
          <h2 class="slds-text-heading--small slds-m-bottom--small slds-text-align--center">All ( <%= @events_all.count() %> )</h2>
          <%= render partial: 'static_pages/common/event_items',locals: { events: @events_all } %>
        </div>
        <div class="slds-tabs__content slds-hide" role="tabpanel" id="content-sun">
          <h2 class="slds-text-heading--small slds-m-bottom--small slds-text-align--center">Sunday ( <%= @events_sun.count() %> )</h2>
          <%= render partial: 'static_pages/common/event_items',locals: { events: @events_sun } %>
        </div>
        <div class="slds-tabs__content slds-hide" role="tabpanel" id="content-mon">
          <h2 class="slds-text-heading--small slds-m-bottom--small slds-text-align--center">Monday ( <%= @events_mon.count() %> )</h2>
          <%= render partial: 'static_pages/common/event_items',locals: { events: @events_mon } %>
        </div>
        <div class="slds-tabs__content slds-hide" role="tabpanel" id="content-tue">
          <h2 class="slds-text-heading--small slds-m-bottom--small slds-text-align--center">Tuesday ( <%= @events_tue.count() %> )</h2>
          <%= render partial: 'static_pages/common/event_items',locals: { events: @events_tue } %>
        </div>
        <div class="slds-tabs__content slds-hide" role="tabpanel" id="content-wed">
          <h2 class="slds-text-heading--small slds-m-bottom--small slds-text-align--center">Wednesday ( <%= @events_wed.count() %> )</h2>
          <%= render partial: 'static_pages/common/event_items',locals: { events: @events_wed } %>
        </div>
        <div class="slds-tabs__content slds-hide" role="tabpanel" id="content-thu">
          <h2 class="slds-text-heading--small slds-m-bottom--small slds-text-align--center">Thursday ( <%= @events_thu.count() %> )</h2>
          <%= render partial: 'static_pages/common/event_items',locals: { events: @events_thu } %>
        </div>
        <div class="slds-tabs__content slds-hide" role="tabpanel" id="content-fri">
          <h2 class="slds-text-heading--small slds-m-bottom--small slds-text-align--center">Friday ( <%= @events_fri.count() %> )</h2>
          <%= render partial: 'static_pages/common/event_items',locals: { events: @events_fri } %>
        </div>
        <div class="slds-tabs__content slds-hide" role="tabpanel" id="content-sat">
          <h2 class="slds-text-heading--small slds-m-bottom--small slds-text-align--center">Saturday ( <%= @events_sat.count() %> )</h2>
          <%= render partial: 'static_pages/common/event_items',locals: { events: @events_sat } %>
        </div>
      </div>
    </nav>
  </div>
  <!-- Modal -->
  <div id="edit-event-modal" class="slds-hide">
    <div aria-hidden="false" role="dialog" class="slds-modal slds-modal--large slds-fade-in-open">
      <div class="slds-modal__container slds-modal--large">
        <div class="slds-modal__header">
          <h2 class="slds-text-heading--medium">Event Edit</h2>
          <button class="slds-button slds-modal__close" onclick="EventItemJs.closeEditEventModal();">
            <svg aria-hidden="true" class="slds-button__icon slds-button__icon--inverse slds-button__icon--large">
              <use xlink:href="<%= asset_path 'SLDS091/assets/icons/action-sprite/svg/symbols.svg#close' %>"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
          </button>
        </div>
        <div class="slds-modal__content">
          <div class="slds-lookup" data-select="multi" data-scope="single" data-typeahead="true">
            <div class="slds-form-element slds-m-bottom--small">
              <label class="slds-form-element__label">Subject</label>
              <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                <input type="text" class="slds-input" id="edit-subject"></input>
              </div>
              <label class="slds-form-element__label">Location</label>
              <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                <input type="text" class="slds-input" id="edit-location"></input>
              </div>
              <label class="slds-form-element__label">Description</label>
              <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                <textarea class="slds-input" id="edit-description"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-modal__footer slds-modal__footer--directional">
          <button class="slds-button slds-button--neutral" onclick="EventItemJs.closeEditEventModal();">Cancel</button>
          <button class="slds-button slds-button--neutral" onclick="EventItemJs.saveEvent();">Save</button>
        </div>
      </div>
    </div>
    <div class="slds-modal-backdrop slds-modal-backdrop--open"></div>
  </div>
</div>