<li class="slds-timeline__item li-mark" id="event-item-li">
  <span class="slds-assistive-text">Event</span>
  <div class="slds-media slds-media--reverse">
    <div class="slds-media__figure">
      <div class="slds-timeline__actions">
        <p class="font-bold">
          <%= getWeek(event.start_date_time) %>
        </p>
        <div class="slds-dropdown-trigger">
          <button class="slds-button slds-button--icon-border-filled" aria-haspopup="true">
            <!-- Dropdown -->
            <svg aria-hidden="true" class="slds-button__icon">
              <use xlink:href="<%= asset_path 'SLDS091/assets/icons/utility-sprite/svg/symbols.svg#switch' %>"></use>
            </svg>
            <span class="slds-assistive-text">Show More</span>
          </button>
          <div class="slds-dropdown slds-dropdown--right slds-dropdown--actions slds-dropdown--menu">
            <ul class="slds-dropdown__list" role="menu">
              <li id="menu-13-0" href="#" class="slds-dropdown__item">
                <%= link_to 'Edit', '#', { :onclick => "return EventItemJs.openEditEventModal(#{event.id});" } %>
              </li>
              <li id="menu-14-1" href="#" class="slds-dropdown__item">
                <%= link_to "Delete", event, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-media__body">
      <div class="slds-media slds-media--timeline slds-timeline__media--event">
        <div class="slds-media__figure">
          <!-- image -->
          <svg aria-hidden="true" class="slds-icon slds-icon-standard-event slds-timeline__icon">
            <use xlink:href="<%= asset_path 'SLDS091/assets/icons/standard-sprite/svg/symbols.svg#event' %>"></use>
          </svg>
        </div>
        <div class="slds-media__body font-bold">
          <p>
            <%= link_to event.subject, '#' %>
          </p>
          <p class="slds-truncate">
            <%= simple_format(event.description) %>
          </p>
          <ul class="slds-list--horizontal slds-text-body--small">
            <li class="slds-list__item slds-m-right--large">
              <dl class="slds-dl--inline">
                <dt class="slds-dl--inline__label">Date:</dt>
                <dd class="slds-dl--inline__detail">
                  <% if !event.start_date_time.nil? then %>
                    <%= link_to event.start_date_time.to_s(:date_time_jp), '#' %>
                  <% end %>
                </dd>
              </dl>
            </li>
            <li class="slds-list__item">
              <dl class="slds-dl--inline">
                <dt class="slds-dl--inline__label">Location:</dt>
                <dd class="slds-dl--inline__detail">
                  <%= link_to event.location, '#' %>
                </dd>
              </dl>
            </li>
          </ul>
          <dl class="slds-dl--inline slds-text-body--small">
            <dt class="slds-dl--inline__label">Owner:</dt>
            <dd class="slds-dl--inline__detail">
              <%= link_to 'JP', '#' %>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div id="edit-event-modal-<%=event.id %>" class="slds-hide">
    <%= form_for(event) do |f| %>
      <div aria-hidden="false" role="dialog" class="slds-modal slds-modal--large slds-fade-in-open">
        <div class="slds-modal__container slds-modal--large">
          <div class="slds-modal__header">
            <h2 class="slds-text-heading--medium">Event Edit</h2>
            <button class="slds-button slds-modal__close" onclick="return EventItemJs.closeEditEventModal(<%= event.id %>);">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--inverse slds-button__icon--large">
                <use xlink:href="<%= asset_path 'SLDS091/assets/icons/action-sprite/svg/symbols.svg#close' %>"></use>
              </svg>
              <span class="slds-assistive-text">Close</span>
            </button>
          </div>
          <div class="slds-modal__content">
            <div class="slds-lookup" data-select="multi" data-scope="single" data-typeahead="true">
              <div class="slds-form-element slds-m-bottom--small">
                <%= f.hidden_field :id %>
                <label class="slds-form-element__label">Subject</label>
                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                  <%= f.text_field :subject, class:'slds-input' %>
                </div>
                <label class="slds-form-element__label">Location</label>
                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                  <%= f.text_field :location, class:'slds-input' %>
                </div>
                <label class="slds-form-element__label">Description</label>
                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                  <%= f.text_area :description, class:'slds-input' %>
                </div>
              </div>
            </div>
          </div>
          <div class="slds-modal__footer slds-modal__footer--directional">
            <button class="slds-button slds-button--neutral" onclick="return EventItemJs.closeEditEventModal(<%= event.id %>);">Cancel</button>
            <%= f.submit('Save!', class: 'slds-button slds-button--neutral') %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="slds-modal-backdrop slds-modal-backdrop--open"></div>
  </div>
</li>